html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}
header {
    display: block;
    height:110px;
    border:1px solid #cb96e1;
}
.logo {
    height:100px;
    width:100px;
    float:left;
    border:1px solid #cb96e1;
}
.global-content {

}

.main-menu {

}
.mainMenuItem {
    display: block;
    border: 1px solid #9a5a9a;
    list-style: none;
    padding:0 5px;
    float:left;
}

.header-searching {
    float:left;
}
.mainMenuItem > a {
    text-decoration: none;
}
.mainMenuItemCurrent {
    background-color: #ff9dff;
}
.global-content {
    clear: left;
    min-height:70vh;
}
footer {
    display: block;
}
.footer-menu {

}

.full-height {
    height: 100vh;
}
.profile-main {

}

