html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}
header {
    display: block;
    height:110px;
    border:1px solid #cb96e1;
}
.logo {
    height:100px;
    width:100px;
    float:left;
    border:1px solid #cb96e1;
}
.global-content {

}
.mainMenuItem {
    display: block;
    border: 1px solid #9a5a9a;
    list-style: none;
    padding:0 5px;
    float:left;
}

.header-searching {
    float:left;
}
.mainMenuItem > a {
    text-decoration: none;
}
.mainMenuItemCurrent {
    background-color: #ff9dff;
}
.leftMenu {
    float: left;
}
.profile-edit-content {
    float:left;
}
.leftMenuItem {
    display: block;
    border: 1px solid #9a5a9a;
    list-style: none;
    padding:0 5px;
    width:200px;
}
.leftMenuItem > a {
    text-decoration: none;
}
.leftMenuItemCurrent {
    background-color: #ff9dff;
}
.list100 {
    width:100px;
}
.global-content {
    clear: left;
    min-height:70vh;
}
textarea {
    width: 500px;
    height:300px;
}
footer {
    display: block;
}
.footer-menu {

}
.full-height {
    height: 100vh;
}
.profile-main {
height: 150px;
}
.profile-avatar {
    width:100px;
    height:100px;
    float:left;
    margin: 10px;
    border:1px solid #c597e3;
}
.tab-menu {
    height:40px;
}

